<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p class="MsoNormal">
	Dear {buyer_name},
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	How was your hour today?
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	We are writing to make sure you're enjoying your items. Choose Xcentz, you obtain not only a high quality goods, it is also a close service.
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	Maybe you meet some problems in usage , shipment or other problems, please don’t worry. Contact us. Customer service Team in Xcentz will help this problems resolved .We value the experience of each user. The meaning of our job is to provide higher quality product and intimate service.
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	Your voice? You can share your experience of purchasing, using of this product or feeling of our brand with others.
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	Your reply of any topic would be received with thanks. You can contact us by replying this email directly. If you don’t receive our reply within 24hours,maybe there is network problem, please contact us again.Our professional customer service team is always here for you.
</p>
<p class="MsoNormal">
	Thank you again for choosing Xcentz.
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	Xcentz Service Team
</p>

</body>
</html>