<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
	<p class="MsoNormal">
		Dear {buyer_name},
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Thanks for choosing Xcentz.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		We have learned that your order has been completed. Have you already got the package from our lovely delivering people? Right now, our customer service Eleanor will follow up all process of usage.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Xcentz type c cable is a newly released product. This type c 2.0 stands on a new heights compare with traditional cable with plastic body, not only the unique material we spend more ingenuity, but the feeling and durable character it has.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		More interested in following topics:
	</p>
	<p class="MsoNormal">
		1. What the differences between new version and used version?
	</p>
	<p class="MsoNormal">
		2. Check out if your phone model supports fast charge?
	</p>
	<p class="MsoNormal">
		3. Prolong cable lifetime
	</p>
	<p class="MsoNormal">
		4. How to distinguish iPhone Lightning cable from&nbsp;Type c cable?
	</p>
	<p class="MsoNormal">
		5. Type C 2.0 VS 3.0
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		You can reply if any option you are interested, will get an answer within 24 hours. We are looking forward to your specific consultation.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Thanks!
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Faithfully yours,
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Xcentz&nbsp;Service&nbsp;Team
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
</p>

</body>
</html>