<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
	<p class="MsoNormal">
		Dear {buyer_name},
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Thanks for choosing Xcentz.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		We have learned that your order has been completed. Have you already got the package from our lovely delivering people? Right now, our customer service Eleanor will follow up all process of usage.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		In January 2018 we started Xcentz (pronounced, <span>¡°</span><span>accents</span><span>¡±</span><span>), a brand of digital devices made to enhance your life and not break your wallet. We say we</span><span>¡¯</span><span>re </span><span>¡°</span><span>the tech that gets you,</span><span>¡± </span><span>because we want to create products that you want. Not products we think you want. We want to talk about those products in a language that you actually understand </span><span>¨C </span><span>no tech talk. And we want to do more than just sell you stuff. Because you really don</span><span>¡¯</span><span>t care about our products. You care about what our products enable you to do </span><span>¨C </span><span>your job, your passion, your social media. We get it. </span>
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Thanks!
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Xcentz&nbsp;Service&nbsp;Team
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
</p>
</body>
</html>