<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p class="MsoNormal">
	Dear {buyer_name},
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	Thanks for your trust in Xcentz!
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	We are writing to make sure you're enjoying your items. Choose Xcentz, you obtain not only a high quality goods, it is also a close service.
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	Maybe you meet some problems in usage ,we would like to give you some tips of our 3350 power bank to confirm your better experience:
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	1. This power bank is designed as emergency power supply, easy to carry, good hand feeling, It can charges 120% for iPhone 8, 80% for iPhone X, 80% for Galaxy 9.
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	2. Press 2times button for turning on or off the flashlight.
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	3. The power bank comes with a micro cable, so please use lightning cable to charge iPhone.
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	Other problems like shipment or something, please don’t worry. Contact us. Customer service Team in Xcentz will help this problems resolved .We value the experience of each user. The meaning of our job is to provide higher quality product and intimate service.
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	Your voice? You can share your experience of purchasing, using of this product or feeling of our brand with others.
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	Your reply of any topic would be received with thanks. You can contact us by replying this email directly. If you don’t receive our reply within 24hours,maybe there is network problem, please contact us again.Our professional customer service team is always here for you.
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	Thank you again for choosing Xcentz.
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	Xcentz Service Team
</p>

</body>
</html>