<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
	<p class="MsoNormal">
		Dear {buyer_name},
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Thanks for choosing Xcentz.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		We have learned that your order has been completed. Have you already got the package from our lovely delivering people? Right now, our customer service Eleanor will follow up all process of usage.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		This portable charger is characterized by fine design and small-sized. Before you got the package&nbsp;we will announce its small capacity -only for 3350mAh. Thus to help you decide the best usage situation, that is to meet daily temporary amount of power request.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		How to prolong LG battery lifetime and protect flashlight?
	</p>
	<p class="MsoNormal">
		Pls charge it first before first usage until the remain power reach 100%(3 indicator lights up).
	</p>
	<p class="MsoNormal">
		Tap the button once to see the battery level, and twice to use flashlight to light your way.
	</p>
	<p class="MsoNormal">
		When play your phone, we suggest&nbsp;better not charge simultaneously.
	</p>
	<p class="MsoNormal">
		Reserve it with at least 50% power level&nbsp;(2&nbsp;indicator&nbsp;lighted) if long-term storage.
	</p>
	<p class="MsoNormal">
		Avoid direct sunlight.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		* The package&nbsp;including&nbsp;a USB cable for battery charge (Apple Lightning Cable not included).
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Thanks!
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Xcentz&nbsp;Service&nbsp;Team
	</p>
</p>

</body>
</html>