<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
	<p class="MsoNormal">
		Dear {buyer_name},
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Thanks for choosing Xcentz.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		We have learned that your order has been completed. Have you already got the package from our lovely delivering people? Right now, our customer service Eleanor will follow up all process of usage.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		18W PD&amp;QC 3.0 universal travel charger can meet all your travel needs. Think around, when travelling, you may have these charger requirements? Maybe it's specification, compatible, charge speed, whatever!
	</p>
	<p class="MsoNormal">
		We can deal well with all your concerns! PD function as a newest theory been lead into the travel charger field, especially excellent at charge speed, widely compatibility, all these can make your journey more exciting!
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Thanks!
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Xcentz&nbsp;Service&nbsp;Team
	</p>
</p>
</body>
</html>