<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AmzInvite</title>
</head>
<body>
<p>
	<p class="MsoNormal">
		Dear {buyer_name},
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		How was your hour today?
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		This will be the last email from us about your recent purchase. I just wanted to make sure you're enjoying your items. We really appreciate your purchase and wanted to say again, Thank You!
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Days&nbsp;have passed, we are reaching out to you now and want to know if you are&nbsp;happy&nbsp;with our products? Is there any problem with the usage? If so, please let us know. We value the experience of each user, which will greatly help the development of our next generation products.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		More curious about our other products, would like to know more aspects? If you agree, Pls&nbsp;write down your expectation to show your valued idea, which is also our desire.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Your reply&nbsp;of any topic would be received with thanks.
	</p>
	<p class="MsoNormal">
		I am seeking to cooperate with you again.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Xcentz&nbsp;Service&nbsp;Team
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
</p>
</body>
</html>