<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
	<p class="MsoNormal">
		Dear {buyer_name},
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Thanks for choosing Xcentz.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		We have learned that your order has been completed. Have you already got the package from our lovely delivering people? Right now, our customer service Eleanor will follow up all process of usage.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Advanced USB-PD charge support USB A and UAB C port to power delivery&nbsp;easily. Unify all low-power electronic device interfaces, making it more convenient to charge your needed device at the very first time.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		This new technology can better achieve the following functions without using manufacturer's exclusive charger.
	</p>
	<p class="MsoNormal">
		High safety guarantee.
	</p>
	<p class="MsoNormal">
		Charge speed at least 1.5 times than average charger.
	</p>
	<p class="MsoNormal">
		Last 3x longer for use.
	</p>
	<p class="MsoNormal">
		* Be ensure you have C2L/C2C cable can be perfectly compliance with PD function.&nbsp;Or if your cable do not support PD function, Pls don't worry, it can also support fast charge with A port and can be used normally.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Thanks!
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Xcentz&nbsp;Service&nbsp;Team
	</p>
</p>


</body>
</html>