<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
	<p class="MsoNormal">
		Dear {buyer_name},
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Great news! Your Amazon fulfillment items from Xcentz has been shipped via {carrier_name}, tracking number {tracking_number}. It left our warehouse earlier today on its way to you! You can expect it on your doorstep on {arrival_date} according to delivery tips (most likely sooner).
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		You made a great customer choice shopping with us. At Xcentz, we truly care about your customer experience and, just importantly, your product experience. We are 100% dedicated to your complete happy purchase.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		That is it for now. We appreciate and value your purchase. If you have any questions or concerns please let us know.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Thank you again!
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Warmest regards,
	</p>
	<p class="MsoNormal">
		Xcentz&nbsp;Customer Service Department
	</p>
</p>
</body>
</html>