<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
	<p>
	Dear {buyer_name},<br />
<br />
Thanks for choosing Xcentz.<br />
<br />
We have learned that your order has been completed. Have you already got the package from delivering people? Right now, our customer service Eleanor will follow up all process of usage.<br />
<br />
This headphones have 3 different ear buds sizes (size L, M, S, default is M), and each kind of tips represent different bass level, size L is mostly bass fans' best choice.<br />
<br />
Our 22 years' experienced professional audio engineers guarantee this headphone tune have good sound. Last over 8 hours on single charge, 50% volume playtime last 13 hours, last for a week's worth of workouts.<br />
<br />
* The package including 2 pairs of ear buds for change and one buckle for headsets.<br />
<br />
We genuinely hope that your experience with our store was memorable.<br />
<br />
Warm regards,<br />
Xcentz Service Team<br />
	<div>
		<br />
	</div>
</p>
</p>
</body>
</html>