<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
	<p class="MsoNormal">
		Dear {buyer_name},
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Thanks for choosing Xcentz.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		We have learned that your order has been completed. Have you already got the package from our lovely delivering people? Right now, our customer service Eleanor will follow up all process of usage.
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		We choose manufacture this product&nbsp;after&nbsp;we compared many products among peers, and finally found a special material-premium leather together with PC sheet, which composed way can make our leather feels smooth. However, it also make our leather feels different from others.&nbsp;Hope our dear customers would know this first!
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		If for other more suggestion about our leather-we want to know. We cherish every offer to get any improvements!
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Thanks!
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		Xcentz&nbsp;Service&nbsp;Team
	</p>
</p>
</body>
</html>